$sm: 587px;
$md: 769px;
$lg: 1024px;
$xl: 1216px;
$xxl: 1408px;

.container {
  padding: 0 2rem;
}
.inner {
  color: #fff;
  width: 53%;
  padding: 30vh 0;
  margin: 0 auto;
  .section {
    height: 100vh;
    .title {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 20px;
    }
    .sub {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      margin-bottom: 50px;
    }
    h3.sub {
      font-size: 23px;
    }
  }
  .firstView {
    display: flex;
    justify-content: space-between;
    .sub {
      font-size: 20px;
      text-align: left;
    }
  }
  .image {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
  .introduction {
    position: relative;
    .sub {
      text-align: center;
      font-size: 30px;
    }
    .text {
      font-size: 17px;
      line-height: 2.3em;
    }
  }
  .table {
    background-color: rgba(0, 0, 0, 0);
    & * {
      color: #fff;
    }
  }
}
@media screen and (max-width: $md) {
  .inner {
    width: 100%;
    margin: auto;
    .section {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }
    .firstView {
      .sub {
        font-size: 18px;
        text-align: center;
      }
    }
    .image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
    }
  }
}
