$sm: 587px;
$md: 769px;
$lg: 1024px;
$xl: 1216px;
$xxl: 1408px;

.container {
  padding: 0 2rem;
}
.inner {
  width: 53%;
  margin: 30vh auto;
  .section {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }
  .image {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .sub {
    font-size: 20px;
  }
}
.introduction {
  position: relative;
  .sub {
    text-align: center;
    font-size: 30px;
  }
  .text {
    font-size: 17px;
    line-height: 2.3em;
  }
}
@media screen and (max-width: $md) {
  .inner {
    width: 100%;
    margin: 10px auto;
    .section {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      flex-direction: column-reverse;
    }
    .image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
    }
    .sub {
      font-size: 18px;
    }
  }
}
